
.notfound{
    /* Media Query for Mobile Devices */
    height: 100vh;
    background-color: rgba(225,225,225,1);
    display: flex;
    align-items: center;
    flex-direction: column;
    &__header{
        @include topbar();
    } 
    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__icon{
            color: rgba(219, 55, 76, 1);
            font-size: 8rem;
        }
        &__text{
            color: rgba(219, 55, 76, 1);
            font-size: 2rem;
            font-family: 'Quicksand';
            font-weight: bold;
        }
    }
} 
  